body {
    font-family: 'Shadows Into Light', cursive, Verdana, Geneva, sans-serif;
    font-family: 'Ravi Prakash', cursive, Verdana, Geneva, sans-serif;
}
p {
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive, Verdana, Geneva, sans-serif;
  color: #233140
}
h1 {
	font-family: 'Ravi Prakash', cursive, Verdana, Geneva, sans-serif;
	font-size: 7em;
}
h2 {
	font-family: 'Shadows Into Light', cursive, Verdana, Geneva, sans-serif;
	font-size: 2.3em;
}
h5 {
	font-family: 'Ravi Prakash', cursive, Verdana, Geneva, sans-serif;
	font-size: 1.5em;
}
@media (min-width: 992px) {
	h2 {
		font-size: 2.4em;
	}
}
ul.coolification {
	
}
ul.coolification li {
	text-decoration: none;
	display: inline-block;
	padding: 10px;
}
#map {
	width: 700px;
	height: 500px;
}
.selected {
	color: red;
}

figure {
	margin: 10px;
	width: 150px;
	display: inline-block;
}

.attrib {
	font-size: 1em;
}